* {
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 60px;
  background-color: white;
}

* button {
  color: black;
  background: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 5px;
  transition: background 0.3s;
  &:hover {
    background: lightgrey;
  }
}

.menu-toggle{
  display: none; 
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.navbar-logo {
  float: left;
  margin-left: 20px;
  height: 150%;
  display: flex;  
}

@media (max-width: 768px) {
  .navbar-logo {
    margin-left: 10px;
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 10;
  }

  .navbar-links.mobile-menu-open {
    display: flex;
  }

  .navbar-logo {
    flex-grow: 1;
  }

  .menu-toggle{
    display: block;
  }

  .navbar-actions{
    flex-shrink: 0;
  }

}