* {
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 100px;
  background-color: white;
}

* button {
  margin-top: 10px;
  color: black;
  background: lightgrey;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  transition: background 0.3s;
  &:hover {
    background:darkgrey;
  }
}

.menu-toggle{
  display: none; 
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.navbar-logo {
  float: left;
  margin-left: 20px;
  height: 150%;
  display: flex;  
}

@media (max-width: 768px) {
  .navbar-logo {
    margin-left: 10px;
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 10;
  }

  .navbar-links.mobile-menu-open {
    display: flex;
  }

  .navbar-logo {
    flex-grow: 1;
  }

  .menu-toggle{
    display: block;
  }

  .navbar-actions{
    margin-right: 10px;
    align-items: center;
  }

}


.login-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #2980b9;
  }
}

.register-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #27ae60;
  }
} 

.icon-buttons {
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-actions {
  float: right;
  margin-right: 20px;
  display: flex;
}